<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/paper-styles/element-styles/paper-material-styles.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">


<link rel="import" href="shared-styles.html">

<dom-module id="form-elements">
  <template>
    <style include="shared-styles">
      :host {

        display: block;

        padding: 10px;
      }
      
      input{ border-color: #fff}
      .form-left{ width: 40%; float: left; }
      .form-middle{ width: 40%; float: left;margin-right: 20px;margin-left: 20px}
      .form-right{ width: 30%; float: left}
      .btn{ width: 100%; text-align: center; margin:0px auto;    clear: both;}
      .btn paper-button{ background: #E65100; color: #fff}
      :host --paper-checkbox-color{ border: #E65100 3px solid}
      paper-dialog{    z-index: 9999999 !important;
    width: 25%;}
    .error p{ color: red}
    </style>
      
<iron-ajax parms="{formData}"  on-responser="{{ajax}}" id="form" handleresponse="_handleresponse"></iron-ajax>
    <div class="card">
     
      <iron-form id="formData">
        <form>
        <div class="form-left">
          
          <paper-input float-label label="First Name" id="firstname" class="formElement" name="firstname"  value="{{firstname}}" required auto-validate >
              <paper-input-error slot="add-on">Only numbers are allowed!</paper-input-error>
          </paper-input>
          <paper-input float-label label="Phone Number" id="phonenumber" class="formElement" name="phonenumber" value="{{phonenumber}}" required auto-validate error-message="Field Required"></paper-input>
          <paper-input float-label label="Email" class="formElement" name="email" value="{{email}}" required auto-validate error-message="Field Required" ><iron-icon icon="mail" slot="prefix" ></iron-icon></paper-input>
          <div class="slider">
            <p>Loan Amount</p>
            <paper-slider min="50000" max="5000000" step="50000" editable pin max-markers="50000" snap></paper-slider>
          </div>
        </div>
        <div class="form-middle">
          <div class="radio" id="same">
            <p>Options</p>
          <paper-checkbox value="Debit Card" name="optional" >Debit Card</paper-checkbox>
          <paper-checkbox value="{{internetbanking}}" name="optional">Internet Banking</paper-checkbox>
          <paper-checkbox value="{{mobilebanking}}" name="optional">Mobile Banking</paper-checkbox>
          <p>{{errormessage}}</p>
        </div>
        <div class="radio">
            <p>Gender</p>
        <paper-radio-group>
<paper-radio-button name="male">Male</paper-radio-button>
<paper-radio-button name="female">Female</paper-radio-button>

        </paper-radio-group>
        <p>{{errormessage}}</p>
        </div>
        <div class="radio">
            <p>DND on/off</p>
            <paper-toggle-button></paper-toggle-button>
            </div>
        </div>
        <div class="dropdown">
          
            <paper-dropdown-menu label="Account Type" name="atype"  >
                <paper-listbox class="dropdown-content" slot="dropdown-content" required auto-validate attr-for-selected="value" selected="{{atype}}" error-message="Please select the account type">
            <paper-item value="Savings">Savings</paper-item>
            <paper-item value="Current">Current</paper-item>
            </paper-listbox>
        </paper-dropdown-menu>
        </div>
        <div class="btn"><paper-button raised on-tap="_submitted">Submit</paper-button></div>
         
      </form>
      </iron-form>
      </div>
      
      

      
        <paper-dialog id="animated" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
            <div class="error">
                <template is="dom-repeat" items="{{errorMessageText}}" as="errors">
                  <p>{{errors.error}}</p>
                  
                </template>
                <div class="btn">
                <paper-button dialog-confirm autofocus rasied >Back To Form</paper-button>
                </div>
              </div> 
          </paper-dialog>

          <paper-dialog id="sucess" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
              <div class="error">
                  <p>Form Submited suessfully</p>
                  <div class="btn">
                  <paper-button dialog-confirm autofocus rasied >OK</paper-button>
                  </div>
                </div> 
            </paper-dialog>
        
        
  </template>

  <script>
    class FormElements extends Polymer.Element {
      static get is() { return 'form-elements'; }
   
      static get properties(){

      return{
        formData:{

          type:Object,
          value:{}
        },
        formError:{
          type: Array,
          value() {
            return []
          }
}

      }
    

      }
     
      _submitted(e){
        e.preventDefault()
        
        var formData = this.$.formData
       var formError =[]
       
        
        var accType = this.atype;
        
        var firstname = this.$.firstname.value;
        if (accType==undefined) {
    var errormessage="Please select";
    formError.push({"error":errormessage});
  }else{var errormessage=" "}

  if (firstname==undefined) {
    var errormessage="Please input";
    formError.push({"error":errormessage});
  }else{var errormessage=" "}
  var checkedBox = formData.querySelectorAll('paper-checkbox[checked]').length;
  var checkedBox1 = formData.querySelectorAll('paper-checkbox[checked]').value
  console.log(checkedBox1)
  if (checkedBox== 0) {
    var errormessage="Please checkone";
    formError.push({"error":errormessage});
  }else{var errormessage=" "}

  var radioButton = formData.querySelectorAll('paper-radio-button[checked]').length;
  if (radioButton== 0) {
    var errormessage="Please radi";
    formError.push({"error":errormessage});
  }else{var errormessage=" "}
 
  this.errorMessageText = formError;
  var whenopendialog = Object.keys(this.errorMessageText).length
  var dialogbox = this.$.animated;
  var sucessbox = this.$.sucess;
        
        if(whenopendialog>0){dialogbox.open();}else {sucessbox.open();}
      
      }
      
        
      
    }

    window.customElements.define(FormElements.is, FormElements);
  </script>
</dom-module>
