<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-material-theme/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-filter.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">


<link rel="import" href="shared-styles.html">

<dom-module id="gird-data">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      
      vaadin-grid-filter{ display: none}
    </style>
<iron-ajax id="girdData" on-response = "_handleResponse" handle-as="json" auto></iron-ajax>
<iron-ajax id="girdDatapop" on-response = "_handleResponsepop" handle-as="json" ></iron-ajax>
    <div class="card">
        <paper-dropdown-menu label="Filter By ID" name="filterbyid" on-iron-select="_selectedID" id="selected">
            <paper-listbox class="dropdown-content" slot="dropdown-content" required auto-validate attr-for-selected="value" selected="{{userid}}" error-message="Please select the account type">
              <template is="dom-repeat" items="{{girdDatasResult}}" as="gird">
                  <paper-item value="{{gird.id}}">{{gird.id}}</paper-item>
              </template>
       
        </paper-listbox>
    </paper-dropdown-menu>
    
        <vaadin-grid aria-label="Basic Binding Example" items="[[girdDatasResult]]" page-size="10" id="girdPagination">

            <vaadin-grid-column width="50px" flex-grow="0">
              <template class="header">#</template>
              <template>[[index]]</template>
              <!-- If necessary, the footer could be set using <template class="footer"> -->
              <template class="footer">#</template>
            </vaadin-grid-column>
      
            <vaadin-grid-column width="10px">
                <template class="header">
                  ID
                    <vaadin-grid-filter aria-label="ID" path="id" value="[[selectedItemValue]]" hidden>
                     
                    </vaadin-grid-filter>
                  </template>
          
              <template id="viewid"><a on-tap="viewDetails">[[item.id]]<iron-icon icon="icons:add"></iron-icon></a></template>
              <template class="footer">ID</template>
            </vaadin-grid-column>
      
            <vaadin-grid-column width="150px">
              <template class="header">Title</template>
              <template>[[item.title]]</template>
              <template class="footer">Title</template>
            </vaadin-grid-column>
      
            <vaadin-grid-column width="150px">
              <template class="header">Status</template>
              <template>
                <p style="white-space: normal">[[item.completed]]</p>
              </template>
              <template class="footer">Status</template>
            </vaadin-grid-column>
      
          </vaadin-grid>
          <div id="pages">
              <button on-click="_prev">&lt;</button>
              <template is="dom-repeat" items="[[pages]]">
                <button on-click="_select" selected$="[[_isSelected(page, item)]]">[[item]]</button>
              </template>
              <button on-click="_next">&gt;</button>
            </div>
    </div>
  </template>

  <script>
    class GirdData extends Polymer.Element {
      static get is() { return 'gird-data'; }
      _selectedID(){
        var selectedItemId = this.$.selected;
        this.selectedItemValue = selectedItemId.selectedItem.value
      }
      static get properties(){

        return {
          girdDatas:{
            type:Object,
            value:"",
            notify:true
          },
          viewdetailsid:{ type:Number,value:""},
          items:{type:Array,value:""},
          page: {type:Number,value:""},
          pages: {type:Array,value:""},
            
        }
        observers: '_itemsChanged(items, page)'
      }
      
      ready(){
        super.ready();
        this.page = 0;
        
        var getgirddata = this.$.girdData;
        getgirddata.url = "https://jsonplaceholder.typicode.com/todos";
        getgirddata.generateRequest();
       

      }
    

_isSelected(page, item) {
  return page === item - 1;
}

_select(e) {
  this.page = e.model.item - 1;
}

_next() {
  this.page = Math.min(this.pages.length - 1, this.page + 1);
}

_prev() {
  this.page = Math.max(0, this.page - 1);
}

_itemsChanged(items, page) {
  if (!this.pages) {
    this.pages = Array.apply( null, {length: Math.ceil(items.length / this.$.girdPagination.pageSize)} ).map(function(item, index) {
      return index + 1;
    }
    
    );
  }

  var start = page * this.$.girdPagination.pageSize;
  console.log(start)
  var end = (page + 1) * this.$.girdPagination.pageSize;
  this.$.girdPagination.items = items.slice(start, end);
  
}

      
      _handleResponse(response){

        this.girdDatasResult=response.detail.response;
       


      }
      _handleResponsepop(response){

this.girdDatasResult1=response.detail.response;
console.log(this.girdDatasResult1)



}
      viewDetails(e){ 
var viewdetailsid = e.model.item.id;


var postdata = this.$.girdDatapop;
postdata.method = "post";
postdata.url = "https://jsonplaceholder.typicode.com/todos";
postdata.generateRequest();
      }
      
    }

    window.customElements.define(GirdData.is, GirdData);
  </script>
</dom-module>
